# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
.venv/
env/
venv/
ENV/

# VSCode settings
# .vscode/

# dotenv
.env
.env.*

# MacOS
.DS_Store

# Test & coverage
.coverage
coverage.*
htmlcov/
.tox/
nosetests.xml
pytest_cache/
.cache/

# Ruff cache
ruff_cache/

# MyPy cache
.mypy_cache/

# PyInstaller
build/
dist/
*.spec
